@charset "utf-8";
/* CSS Document */

html
{
	background: repeating-linear-gradient(#C49991, #FFFFFF);
}

a.link {
    display: inline;
}

ul.tree-navigation {
    padding: 10px 16px;
    list-style: none;
}

ul.tree-navigation li {
    display: inline;
    font-size: 18px;
}

ul.tree-navigation li+li:before {
    padding: 3px;
    color: black;
    content: ">";
}

ul.tree-navigation li a {
    color: #0275d8;
    text-decoration: none;
}

ul.tree-navigation li a:hover {
    color: #01447e;
    text-decoration: underline;
}

body
{
	padding: 0em;
	align-content: center;
	margin: auto;
	max-width: 75em;
	width: 99%
}

h2
{
	font-size: 2em;
}

h3
{
	font-size: 1.4em;
}

h4
{
	font-size: 1.2em;
}

p
{
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	font-size: 1em;
}

.cont
{
	padding: 0em;
	align-content: center;
	margin: auto;
	max-width: 75em;
	width: 91%;
	margin-bottom: 1em;
	padding-bottom: 1em;
}

.contName
{
	padding: 0em;
	align-content: center;
	margin: auto;
	max-width: 75em;
	width: 95%
}

.footer-links
{
	padding:5px;
	margin-top: 2em;
	margin-bottom: 2em;
	border-style: double;
	text-align: left;
	background-color: #C49991;
	width: 97%;
	margin-left: auto;
	margin-right: auto;
}

.footer-table
{
	margin-top: 2em;
	margin-bottom: 2em;
	border-style: double;
	text-align: left;
	background-color: #C49991;
	max-width: 50em;
	margin-left: auto;
	margin-right: auto;
}

th{
	padding-right: 5em;
}
td{
	padding-right: 5em;
	font-size: .85em;
}
/*----------------------------------------------*/