@charset "utf-8";
/* CSS Document */

html
{
	background-color: #C49991;
}
body
{
	padding: 0em;
	align-content: center;
	margin: auto;
	max-width: 65em;
	background-color: #F7F7FF;
}

.hdr-primary
{
	border-style: groove;
	border-color: #000000;
	background-color: #219AF1;
	text-align: center;
}
.welcome
{
	font-size: 45px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.img-banner
{
	border-style: groove;
	border-color: azure;
	max-width: 65em;
}
.nav-element
{
	border-style: solid;
	border-color: #000000;
}
p
{
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
}
