@charset "utf-8";
/* CSS Document */

body
{
	padding: 0px;
	align-content: center;
	margin: auto;
	max-width: 960px;
	background-color: #D7CDCD;
}

.hdr-primary
{
	border-style: groove;
	border-color: #000000;
	background-color: #BDAD42;
	text-align: center;
}
.welcome
{
	font-size: 45px;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
}
.img-banner
{
	border-style: groove;
	border-color: azure;
	max-width: 960px;
}
.nav-element
{
	border-style: solid;
	border-color: #0000000;
}
p
{
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
}
